
body {
    margin: 0;
    background-color: rgb(90,200,230);
}

.sun {
    height: 200px;
    width: 200px;
    background-color: yellow;
    border-radius: 50%;
    position: absolute;
    top: 30px;
    right: 30px;
}

.grass {
    height: 50px;
    width: 100vw;
    background-color: green;
    position: absolute;
    bottom: 0px;
}

.house-body {
    width: 200px;
    height: 200px;
    background-color: #ffe4bd;
    position: absolute;
    bottom: 50px;
    left: 200px;
}

.house-roof {
    width: 0;
    height: 0;
    border-left: 125px solid transparent;
    border-right: 125px solid transparent;

    border-bottom: 75px solid red;
    position: absolute;
    bottom: 250px;
    left: 175px;
  }

  .window-right {
    background-color: #93f6fe;
    position: absolute;
    width: 40px;
    height: 40px;
    bottom: 150px;
    left: 350px;
  }

  .window-left {
    background-color: #93f6fe;
    position: absolute;
    width: 40px;
    height: 40px;
    bottom: 150px;
    left: 210px;
  }

  .door {
    background-color: #d16f01;
    position: absolute;
    height: 75px;
    width: 40px;
    left: 280px;
    bottom: 50px;
  }

  .doorknob {
    background-color: black;
    position: absolute;
    border-radius: 50%;
    width: 10px;
    height: 10px;
    bottom: 80px;
    left: 305px;
  }

  .stick-body {
    background-color: black;
    height: 50px;
    width: 5px;
    position: absolute;
    bottom: 80px;
    left: 500px;
  }

  .stick-head {
    background-color: white;
    border: 80px: solid black;
    border-radius: 50%;
    position: absolute;
    width: 25px;
    height: 25px;
  }
