
body {
    margin: 0;
    background-color: rgb(90,200,230);
}

.sun {
    height: 200px;
    width: 200px;
    background-color: yellow;
    border-radius: 50%;
    position: absolute;
    top: 30px;
    right: 30px;
}

.grass {
    height: 50px;
    width: 100vw;
    background-color: green;
    position: absolute;
    bottom: 0px;
}

.house-body {
    width: 200px;
    height: 200px;
    background-color: #ffe4bd;
    position: absolute;
    bottom: 50px;
    left: 200px;
}

.house-roof {
    width: 0;
    height: 0;
    border-left: 125px solid transparent;
    border-right: 125px solid transparent;

    border-bottom: 75px solid red;
    position: absolute;
    bottom: 250px;
    left: 175px;
  }

  .window-right {
    background-color: #93f6fe;
    position: absolute;
    width: 40px;
    height: 40px;
    bottom: 150px;
    left: 350px;
  }

  .window-left {
    background-color: #93f6fe;
    position: absolute;
    width: 40px;
    height: 40px;
    bottom: 150px;
    left: 210px;
  }

  .door {
    background-color: #d16f01;
    position: absolute;
    height: 75px;
    width: 40px;
    left: 280px;
    bottom: 50px;
  }

  .doorknob {
    background-color: yellow;
    position: absolute;
    border-radius: 50%;
    width: 10px;
    height: 10px;
    bottom: 80px;
    left: 305px;
  }

  .stick-body {
    background-color: black;
    height: 50px;
    width: 5px;
    position: absolute;
    bottom: 80px;
    left: 500px;
  }

  .stick-head {
    border: 5px solid black;
    background-color: white;
    border-radius: 50%;
    position: absolute;
    width: 30px;
    height: 30px;
    bottom: 130px;
    left: 483px;
  }

  .left-arm {
    background-color: black;
    height: 40px;
    width: 5px;
    position: absolute;
    bottom: 85px;
    left: 490px;
    rotate: 30deg;
  }

  .right-arm {
    background-color: black;
    height: 40px;
    width: 5px;
    position: absolute;
    bottom: 85px;
    left: 510px;
    rotate: -30deg;
  }

  .left-leg {
    background-color: black;
    height: 40px;
    width: 5px;
    position: absolute;
    bottom: 46px;
    left: 490px;
    rotate: 30deg;
  }

  .right-leg {
    background-color: black;
    height: 40px;
    width: 5px;
    position: absolute;
    bottom: 46px;
    left: 510px;
    rotate: -30deg;
  }

  .tree-trunk {
    background-color: #a75902;
    height: 150px;
    width: 50px;
    position: absolute;
    bottom: 50px;
    right: 400px;
    z-index: -1;
  }

  .root-left {
    width: 0;
    height: 0;
    border-left: 30px solid transparent;
    border-right: 0px solid transparent;

    border-bottom: 10px solid #a75902;
    position: absolute;
    bottom: 50px;
    right: 450px;
  }

  .root-right {
    width: 0;
    height: 0;
    border-left: 0px solid transparent;
    border-right: 40px solid transparent;

    border-bottom: 12px solid #a75902;
    position: absolute;
    bottom: 50px;
    right: 360px;
  }

  .top-leave1 {
    background-color: #07c110;
    border-radius: 50%;
    position: absolute;
    width: 75px;
    height: 75px;
    bottom: 190px;
    right: 340px;
  }

  .top-leave2 {
    background-color: #07c110;
    border-radius: 50%;
    position: absolute;
    width: 75px;
    height: 75px;
    bottom: 220px;
    right: 380px;
  }

  .top-leave3 {
    background-color: #07c110;
    border-radius: 50%;
    position: absolute;
    width: 75px;
    height: 75px;
    bottom: 225px;
    right: 420px;
  }

  .top-leave4 {
    background-color: #07c110;
    border-radius: 50%;
    position: absolute;
    width: 75px;
    height: 75px;
    bottom: 180px;
    right: 450px;
  }

  .bottom-leave1 {
    background-color: #0d7412;
    border-radius: 50%;
    position: absolute;
    width: 60px;
    height: 60px;
    bottom: 190px;
    right: 430px;
    z-index: -1;
  }

  .bottom-leave2 {
    background-color: #0d7412;
    border-radius: 50%;
    position: absolute;
    width: 60px;
    height: 60px;
    bottom: 185px;
    right: 385px;
    z-index: -2;
  }

  .bottom-leave3 {
    background-color: #0d7412;
    border-radius: 50%;
    position: absolute;
    width: 60px;
    height: 60px;
    bottom: 185px;
    right: 370px;
    z-index: -1;
  }

  .tree-hole-thing {
    background-color: #4c3102;
    border-radius: 50%;
    position: absolute;
    width: 20px;
    height: 30px;
    bottom: 110px;
    right: 405px;
    z-index: -1;
  }
