
*{
    box-sizing: border-box;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50vh;
    margin: 0;
}

.title{
    position: relative;
    height: 200px;
    font-size: 40px;
}

.searchLink{
    height: 100px;
    position: absolute;
}

.loadingLink{
    height: 50px;
    position: absolute;
}
