
*{
    box-sizing: border-box;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

.links ul {
    display: flex;
    list-style-type: none;
    align-items: center;
    justify-content: center;
}

.links a{
    color: black;
    padding: 7px 15px;
    text-decoration: none;
}

.nav a.current, .nav a:hover {
    color: gray;
}
